[submodule "Learning-CPP"]
	path = Learning-CPP
	url = https://github.com/WasikAhmed/Learning-CPP.git
[submodule "DataStructures-CPP"]
	path = DataStructures-CPP
	url = git@github.com:WasikAhmed/DataStructures-CPP.git
[submodule "Algorithms-CPP"]
	path = Algorithms-CPP
	url = git@github.com:WasikAhmed/Algorithms-CPP.git
[submodule "ProblemSolving"]
	path = ProblemSolving
	url = git@github.com:WasikAhmed/ProblemSolving.git
